body, ul, h1, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #f2efea;
    overflow-x: hidden; /*prevents the horizontal scrolling*/
}

.image_container div{
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.background_image{
    display: block;
    width: 100%;
    height: auto;
}

.image-tekst{
    position: absolute;
    bottom: 250px;
    left: 100px;
    color: #f2efea;
    font-size: 150px;
}

.kontakt-box{
    display: inline-block;
    text-align: center;
    border: 2px solid #581212;
    border-radius: 5px;
    padding: 5px 10px;
}

/*Header Styling*/
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2efea; /*Header background color*/
    color: #1c1c1c; /*Text color*/
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-family: linotype-didot-headline, serif;
    overflow: hidden;
    box-sizing: border-box;
}

/*Logo Styling*/
.main-header h1 a{
    font-size: 25px; /*Adjust font size*/
    font-weight: bold;
    margin-left: 0;
    color: #1c1c1c;
}

/*Navigation Styling*/
.main-header nav ul {
    display: flex;
    align-items: center;
}


.main-header nav ul li {
    list-style: none;
}

.main-header nav ul li a {
    color: #1c1c1c; /*Link color*/
    font-size: 18px;
    font-weight: normal;
    transition: color 0.3s;
    padding-inline-end: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    
}

.main-header nav ul li a:hover {
    color: #980b0b; /*Highlight color on hover*/
}

/* Responsive Design */
@media (min-width: 1024px){
    .main-header nav ul{
        justify-content: flex-end;
        gap: 20px;
    }
    .kontakt-box{
        padding: 10px 20px;
        max-width: 100px;
    }
}
@media (max-width: 768px) {

    .main-header {
        position: relative;
        flex-direction: column; /*Stack elements vertically*/
        align-items: flex-start; /*Align elements to the left*/
        background-color: #f2efea;
        padding: 10px 20px;
    }

    .main-header h1 {
        font-size: 1.8rem; /*Reduce font size for smaller screens*/
        padding-bottom: 12px;
    }

    .main-header nav ul {
        flex-direction: column; /*Stack navigation links vertically*/
        gap: 12px; /*Adjust spacing between links*/
    }
    .background_image{
        display: none;
    }
    .image-tekst{
        display: none;
    }

}

@media (max-width: 480px) {
    .main-header h1 {
        font-size: 20px; /*Further reduce font size for very small screens*/
    }

    .main-header nav ul li a {
        font-size: 15px; /*Reduce menu font size for very small screens */
    }

}



.projekt-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 1240px;
    height: 600px;
    margin: 20px auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.projekt-container div{
    flex: 1;
    margin: 0;
    border: none;
}

.h2_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

h2{
    font-family: linotype-didot, serif;
    color: #980b0b;
    padding-top: 70px;
    font-weight: bold;
}

.box_container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container1 div {
    width: 550px;
    height: 316px;
    margin: 27px;
    border: 2px solid #1c1c1c;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.box1 img{
    width: 562px;
    height: auto;
}


@media (max-width: 768px){
    .box_container1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .box_container1 div{
        width: 2180x;
        height: 160px;

    }

    .box1 img{
        width: 285px;
        height: auto;
    }


}

@media (max-width: 480px){
    .box_container1{
        display: flex;
        flex-wrap: wrap;
        
    }
    .box_container1 div{
        width: 200px;
        height: 112px;

    }

    .box1 img{
        width: 200px;
        height: auto;
    }
}


.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


button{
    background-color: #980b0b;
    border: none;
    color: #f2efea;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: linotype-didot, serif;
    border-radius: 5px;

}

button:hover{
    background-color: #581212;
}

.om_mig_forside{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 1240px;
    margin: 20px auto;
    height: 450px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);

}

.om_mig_forside div{
    flex: 1;
    margin: 0;
    border: none;
}

.in_action img{
    width: auto;
    height: 400px;
    padding-left: 25px;
    padding-top: 25px;
}

@media (max-width: 768px){
    .om_mig_forside{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .in_action img{
        width: 50%;
        height: auto;
        align-content: center;
        padding-left: 150px;
        margin-bottom: -100px;
    }
    .om_mig_forside div{
        width: 90%;
    }

}

@media (max-width: 480px){
    .om_mig_forside{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 100%;
        padding: 10px;

    }
    .in_action img{
        width: 50%;
        height: auto;
        align-content: center;
        padding-left: 48px;
        margin-bottom: -100px;
    }
    p{
        font-size: 16px;
    }
    
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 150px;
}

p{
    color: #1c1c1c;
    font-family: linotype-didot, serif;
    font-size: 20px;
}


.button1_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button1_container {
    margin: 0px;
    height: auto;
}


/* om mig siden */
.ommig-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 1240px;
    height: auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 125px auto;
}

.ommig-container div{
    flex: 1;
    margin: 0;
    border: none;
}

.ommig-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    margin: 20px;
    padding-top: 20px;
}

.skrift-ommig{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
    padding: 0px 90px;
    width: calc(100% - 500px);
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.skrift-ommig ul{
    list-style: circle;
    padding-left: 20px;
}



.adobe-icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.adobe-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.adobe-icons img{
    width: 35px;
    height: auto;
    margin: 0%;
    padding-top: 0%;
}

/* Kontakt mig side */

.kontakt-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.info-box, .kontakt-form{
    flex: 1;
    width: 48%;
    padding: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f2efea;
}

.kontakt-form {
    border: 2px solid #581212;
}

.info-box img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0;
    
}

.info-box ul{
    list-style-type: none;
    padding: 0;
}

.info-box ul li{
    margin-bottom: 10px;
    font-size: 18px;
}

.info-box li strong{
    font-weight: bold;
    color: #980b0b;
}

form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 20px;
}

.form-group label{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
  }

.input, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}

input:focus, textarea:focus{
    border-color: #581212;
    outline: none;
}

footer{
    background-color: #581212;
    width: 100%;
    height: 150px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}

h3{
    color: #f2efea;
    padding-left: 40px;
    padding-top: 30px;
    font-family: linotype-didot-headline, serif;
    font-weight: bold;
    font-size: 25px;
}

.kontakt_info{
    color: #f2efea;
    padding-left: 40px;
    gap: 20px;
    padding-bottom: 30px;
    list-style: none;
}