body, ul, h1, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #f2efea;
    overflow-x: hidden; /*prevents the horizontal scrolling*/
}

.image-container div{
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.image-container_background{
    display: block;
    width: 100%;
    height: auto;
}

.image-container_tekst{
    position: absolute;
    bottom: 250px;
    left: 100px;
    color: #f2efea;
    font-size: 150px;
}

.kontakt-box{
    display: inline-block;
    text-align: center;
    border: 2px solid #581212;
    border-radius: 5px;
    padding: 5px 10px;
}

/*Header Styling*/
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2efea; /*Header background color*/
    color: #1c1c1c; /*Text color*/
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    font-family: linotype-didot-headline, serif;
    overflow: hidden;
    box-sizing: border-box;
}

/*Logo Styling*/
.main-header h1 a{
    font-size: 25px; /*Adjust font size*/
    font-weight: bold;
    margin-left: 0;
    color: #1c1c1c;
}

/*Navigation Styling*/
.main-header nav ul {
    display: flex;
    align-items: center;
}


.main-header nav ul li {
    list-style: none;
}

.main-header nav ul li a {
    color: #1c1c1c; /*Link color*/
    font-size: 18px;
    font-weight: normal;
    transition: color 0.3s;
    padding-inline-end: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    
}

.main-header nav ul li a:hover {
    color: #980b0b; /*Highlight color on hover*/
}

/* Responsive Design */
@media (min-width: 1024px){
    .main-header nav ul{
        justify-content: flex-end;
        gap: 20px;
    }
    .kontakt-box{
        padding: 10px 20px;
        max-width: 100px;
    }
}
@media (max-width: 768px) {

    .main-header {
        position: relative;
        flex-direction: column; /*Stack elements vertically*/
        align-items: flex-start; /*Align elements to the left*/
        background-color: #f2efea;
        padding: 10px 20px;
    }

    .main-header h1 {
        font-size: 1.8rem; /*Reduce font size for smaller screens*/
        padding-bottom: 12px;
    }

    .main-header nav ul {
        flex-direction: column; /*Stack navigation links vertically*/
        gap: 12px; /*Adjust spacing between links*/
    }
    .image-container_background{
        display: none;
    }
    .image-container_tekst{
        display: none;
    }

}

@media (max-width: 480px) {
    .main-header h1 {
        font-size: 20px; /*Further reduce font size for very small screens*/
    }

    .main-header nav ul li a {
        font-size: 15px; /*Reduce menu font size for very small screens */
    }

}



.projects{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    width: 1240px;
    height: 600px;
    margin: 20px auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.projects div{
    flex: 1;
    margin: 0;
    border: none;
}

.projects__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

h2{
    font-family: linotype-didot, serif;
    color: #980b0b;
    padding-top: 70px;
    font-weight: bold;
}

.projects__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__content div {
    width: 550px;
    height: 316px;
    margin: 27px;
}

.projects__item--image img{
    width: 562px;
    height: auto;
}

.projects__item--video{
    background-color: #f2efea;
    padding: 20px;
}

video{
    width: 562px;
    height: auto;
    max-width: 600px;
}


@media (max-width: 768px){
    .projects{
        width: 740px;
        height: auto;
    }
    .projects__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .projects__content div{
        display: flex;
        justify-content: center;
        width: 180px;
        height: 160px;
    }

    .projects__item--image img{
        width: 285px;
        height: auto;
    }


   video{
    width: 285px;
    height: auto;
   }


}

@media (max-width: 460px){
    .projects{
        width: 250px;
        height: auto;
    }
    .projects__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .projects__content div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 112px;
        padding: 0;

    }

    .projects__item--image img{
        width: 180px;
        height: auto;
    }
    video{
        width: 180px;
        height: auto;
    }
}


.projects__link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


button {
    background-color: #980b0b;
    color: #f2efea;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    font-family: linotype-didot, serif;
    border-radius: 5px;
    border: none;

}

button:hover{
    background-color: #581212;
}

.introduction-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 1240px;
    margin: 20px auto;
    height: 450px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);

}

.introduction-container div{
    flex: 1;
    margin: 0;
    border: none;
}

.introduction__image-container img{
    width: auto;
    height: 400px;
    padding-left: 25px;
    padding-top: 25px;
}

@media (max-width: 768px){
    .introduction-container{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .introduction__image-container img{
        width: 50%;
        height: auto;
        align-content: center;
        padding-left: 150px;
        margin-bottom: -100px;
    }
    .introduction-container div{
        width: 90%;
    }

}

@media (max-width: 480px){
    .introduction-container{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 100%;
        padding: 10px;

    }
    .introduction__image-container img{
        width: 50%;
        height: auto;
        align-content: center;
        padding-left: 48px;
        margin-bottom: -100px;
    }
    p{
        font-size: 16px;
    }
    
}

.introduction__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 150px;
}

p{
    color: #1c1c1c;
    font-family: linotype-didot, serif;
    font-size: 20px;
}


.introduction__link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction__link {
    margin: 0px;
    height: auto;
}


/* om mig siden */
.about{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 1240px;
    height: auto;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 125px auto;
}

.about div{
    flex: 1;
    margin: 0;
    border: none;
}

.about img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    margin: 20px;
    padding-top: 20px;
}

.about__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
    padding: 0px 90px;
    width: calc(100% - 500px);
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.about__text ul{
    list-style: circle;
    padding-left: 20px;
}

.hide-on-small-screens a{
    color: #1c1c1c52;
    font-size: 12px;
}

@media (max-width: 768px){
    .about{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .about img{
        width: 50%;
        height: auto;
        align-content: center;
        justify-content: center;
        padding-left: 110px;
    }
    .about__text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    .hide-on-small-screens{
        display: none;
    }
    .about__adobe-icons img{
        display: none;
    }
}

@media (max-width: 480px){
    .about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 0;
        margin-top: 0;

    }
    .about img{
        align-items: flex-start;
        width: 50%;
        height: auto;
        align-content: flex-start;
        padding-left: 0px;
        margin-bottom: -20px;
        margin-top: 0;
    }

    .about__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        padding: 0;
    }

    .about__text ul li{
        font-size: 10px;
    }
    p{
        font-size: 10px;
        padding: 10px;
    }
}



.about__adobe-icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.about__adobe-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.about__adobe-icons img{
    width: 35px;
    height: auto;
    margin: 0%;
    padding-top: 0%;
}

/* Kontakt mig side */

.contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact__info-box, .contact__form-container{
    flex: 1;
    width: 48%;
    padding: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #f2efea;
}

.contact__form-container {
    border: 2px solid #581212;
}

.contact__info-box img{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    
}

.contact__info-box ul{
    list-style-type: none;
    padding: 0;
}

.contact__info-box ul li{
    margin-bottom: 10px;
    font-size: 18px;
}

.contact__info-box li strong{
    font-weight: bold;
    color: #980b0b;
}

form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 20px;
}

.contact__form-group label{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 8px;
    resize: vertical;
  }

.input, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
}

input:focus, textarea:focus{
    border-color: #581212;
    outline: none;
}

@media(max-width: 768px){
    .contact{
        flex-direction: column;
        align-items: center;
    }

    .contact__info-box, .contact__form-container{
        width: 80%;
        margin-bottom: 20px;
    }

    .contact__info-box img{
        margin-bottom: 10px;
    }

    .contact__form-group label{
        font-size: 14px;
    }

    input[type=text], select, textarea{
        padding: 8px;
    }
}

@media (max-width: 460px){
    .contact{
        padding: 15px;
    }
    .contact__info-box, .contact__form-container{
        width: 60%;
        margin-bottom: 15px;
        padding: 15px;
    }
    .contact__info-box img{
        margin-bottom: 15px;
    }
    form{
        gap: 15px;
    }
    .contact__form-group label{
        font-size: 14px;
    }
    input[type=text], select, textarea{
        padding: 8px;
        font-size: 14px;
    }
    h2{
        font-size: 14px;
    }
    .contact__info-box ul li{
        font-size: 12px;
    }
}

/* portfolio */
.product-images{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.product-images img{
   height: 350px;
   width: 600px;
   padding-top: 25px;
   padding-left: 25px;
}

.product-images__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 70px;
}

.product-images__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin: 0;
    padding: 0;
}

.product-videos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.product-videos__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.product-videos__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 70px;
}

.product-videos video{
    height: 350px;
    width: 600px;
    padding-top: 25px;
    padding-left: 25px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.logos__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.logos__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 110px;
}

.logos img{
    height: auto;
    width: 500px;
    padding-top: 60px;
    padding-left: 80px;
}

.animations--html-css{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.animations__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.animations__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 110px;
}

.animations--html-css video{
    height: 350px;
    width: auto;
    padding-top: 25px;
    padding-left: 95px;
}

.illustrations{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.illustrations__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin-bottom: 10px;
    margin: 0;
    padding: 0; 
}

.illustrations__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 130px;
}

.illustrations img{
    height: 350px;
    width: auto;
    padding-top: 25px;
    padding-left: 25px;
}

.animation--after-effects{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 1400px;
    height: 400px;
    margin-left: 50px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
}

.animation__text h3{
    font-size: 24px;
    font-weight: bold;
    color: #581212;
    margin-bottom: 10px;
    margin: 0;
    padding: 0; 
}

.animation__text{
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 50px;
}

.animation--after-effects video{
    height: 350px;
    width: 600px;
    padding-top: 25px;
    padding-left: 25px;
}

@media (max-width: 768px){
    .product-images{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
    }
    .product-images img{
        width: 400px;
        height: auto;
        padding-left: 0;
    }

     .product-videos{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
     }
     .product-videos video{
        width: 400px;
        height: auto;
        padding-left: 0;
    }  
    .logos{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
    }
    .logos img{
        width: 400px;
        height: auto;
        padding-left: 0;
    }
    .illustrations{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
    } 
    .illustrations img{
        width: 300px;
        height: auto;
        padding-left: 0;
    }
    .animation--after-effects{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
    } 
    .animation--after-effects video{
        width: 300px;
        height: auto;
        padding-left: 0;
    }
    .animations--html-css{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 90%;
        padding: 10px;
    } 
    .animations--html-css video{
        width: 300px;
        height: auto;
        padding-left: 0;
    }

}

@media (max-width: 480px){
    .product-images{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
    }
    .product-images img{
        width: 140px;
        height: auto;
        padding-left: 0;
    }
    .product-images__text h3{
        font-size: 12px;
        padding-right: 100px;
    }

    .product-images__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }

     .product-videos{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
     }
     .product-videos video{
        width: 140px;
        height: auto;
        padding-left: 0;
    } 
    
    .product-videos__text h3{
        font-size: 12px;
        padding-right: 100px;
    }

    .product-videos__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }
    .logos{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
    }
    .logos img{
        width: 140px;
        height: auto;
        padding-left: 0;
    }
    .logos__text h3{
        font-size: 12px;
        padding-right: 160px;
    }

    .logos__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }
    .illustrations{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
    } 
    .illustrations img{
        width: 140px;
        height: auto;
        padding-left: 0;
    }
    .illustrations__text h3{
        font-size: 12px;
        padding-right: 170px;
    }
    .illustrations__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }
    .animation--after-effects{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
    } 
    .animation--after-effects video{
        width: 140px;
        height: auto;
        padding-left: 0;
    }
    .animation__text h3{
        font-size: 12px;
        padding-right: 90px;
    }
    .animation__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }
    .animations--html-css{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 20px;
        width: 80%;
        margin: 10px;
    } 
    .animations--html-css video{
        width: 140px;
        height: auto;
        padding-left: 0;
    }
    .animations__text h3{
        font-size: 12px;
        padding-right: 160px;
    }
    .animations__text p{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 60%;
        padding: 0;
    }
}

footer{
    background-color: #581212;
    width: 100%;
    height: 150px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
}

h3{
    color: #f2efea;
    padding-left: 40px;
    padding-top: 30px;
    font-family: linotype-didot-headline, serif;
    font-weight: bold;
    font-size: 25px;
}

.footer__contact-info{
    color: #f2efea;
    padding-left: 40px;
    gap: 20px;
    padding-bottom: 30px;
    list-style: none;
}